.Footer {

    background-color: black;
    margin-top: 50px;
    color: white;
}
.InputFooter{
    width: 217px;
    height: 48px;
    border: 1.5px solid #FAFAFA;
    outline: none;
    background-color: black;
    border-radius: 5px;
    padding: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
}
.done-icon{
    position: relative;
    right: 30px;
}

